include box-list.partial.jade

#ea-box.price-tables(flex layout="row" layout-align='start' layout-wrap)
  .price-table.style-2.md-whiteframe-2dp(layout="column" layout-align='start center' ng-repeat='box in vm.boxes | findBusyBox | filter:vm.search')
    +box(box)

    +newExecutionBtn(box)