
table.dataTable.row-border.hover(datatable='ng' dt-options='vm.dpOptions')
  thead
    tr
      th.secondary-text
        .table-header
          span.column-title 名称
      th.secondary-text
        .table-header
          span.column-title 测试计划
      th.secondary-text
        .table-header
          span.column-title 测试盒
      th.secondary-text
        .table-header
          span.column-title 创建者
      th.secondary-text
        .table-header
          span.column-title 开始时间
      th.secondary-text
        .table-header
          span.column-title 结束时间
      th.secondary-text
        .table-header
          span.column-title 结果

  tbody
    tr(ng-repeat='exe in vm.executions' ui-sref='app.exe-detail({exeId: exe.executionId})')
      td {{ exe.executionName }}
      td {{ exe.planName }}
      td {{ exe.boxName }}
      td {{ exe.creator }}
      td {{ exe.startTime | humanize }}
      td(ng-if='exe.status == "active"') 剩余 {{ (vm.timestamp - exe.startTime) | duration }}
      td(ng-if='exe.status != "active"') {{ exe.endTime | humanize }}
      td {{ exe.status | transformStatus }}
